<html>
<head>
</head>
<body>
    <div class="layout">
      <table class="table">
        <tr>
        </tr>
        <tr class="text-center">
          <td class="">
            <p>
              Hi,
            </p>
            <p>Your appointment is now scheduled and we will be picking up your valuable storage
            items during the scheduled appointment time.  Please remember to have everything packed and ready to go in advance
            of your scheduled time.  If you need help with packing services or need to change your appointment time please notify us 3 days in advance of your appointment.
            </p>

          </td>
        </tr>
        <tr>
          <td class="">
            <p>
            Once your items are secured in storage you will continue to be billed monthly for the space required for your items.
            To schedule delivery of some or all of your items please visit your account on
            <a href="#" style="color:#007ed4;">www.storagegenie.com.   </a>
            </p>

          </td>
        </tr>
        <tr>
          <td class="">
            <p>
            As a local DC business we value customer feedback and appreciate the opportunity to serve you.  For any questions please visit us at storagegenie.com or call us at
            <a href="https://www.storagegenie.com" style="color:#007ed4;">703-461-6461</a>.
            </p>

          </td>
        </tr>
        <tr>
          <td class="">
            <p>
            Thank you,<br/>
            Storage Genie<br/>
            <a href="https://www.storagegenie.com" style="color:#007ed4;">www.storagegenie.com</a><br/>
            <span style="margin-top:10px;">Facebook:<a href="https://www.facebook.com/thestoragegenie" style="color:#007ed4;">https://www.facebook.com/thestoragegenie</a></span>
            </p>
          </td>
        </tr>
      </table>
    </div>
</body>
</html>


